In [1]:
pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 44.8/44.8 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
# How to create an engine and connect to a database

# import required libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql
from urllib.parse import quote

In [9]:
# create engine
engine = create_engine('mysql+pymysql://root:%s@127.0.0.1:3306/test' % quote('Insta@724'))

In [10]:
# connection string
conn = engine.connect()

In [13]:
# read a simple query into DataFrame
df = pd.read_sql("SELECT * FROM test.games", conn)

In [14]:
# print DataFrame
print(df.head())

                       Name Platform  Year_of_Release         Genre Publisher  \
0                Wii Sports      Wii             2006        Sports  Nintendo
1         Super Mario Bros.      NES             1985      Platform  Nintendo
2            Mario Kart Wii      Wii             2008        Racing  Nintendo
3         Wii Sports Resort      Wii             2009        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB             1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales Critic_Score  \
0     41.36     28.96      3.77         8.45         82.53           76
1     29.08      3.58      6.81         0.77         40.24
2     15.68     12.76      3.79         3.29         35.52           82
3     15.61     10.93      3.28         2.95         32.77           80
4     11.27      8.89     10.22         1.00         31.37

  Critic_Count User_Score User_Count Developer Rating
0           51          8        322  Nintendo      E
1
2           73        8.3        709  Nintendo      E
3           73          8        192  Nintendo      E
4

In [15]:
# read a complex query into DataFrame
complex_df = pd.read_sql('''SELECT
    Round(SUM(NA_Sales)) as 'NA_Sales',
    ROUND(SUM(EU_Sales)) as 'EU_Sales',
    ROUND(SUM(JP_Sales)) as 'JP_Sales',
    ROUND(SUM(Global_Sales)) AS 'Global_Sales',
    ROUND((SUM(NA_Sales)/SUM(Global_Sales)) * 100) as 'NA_GlobalShare'

FROM
    test.games
WHERE
    Genre = 'Action'
        AND Year_of_release>= 2005''', conn)

print(complex_df)

   NA_Sales  EU_Sales  JP_Sales  Global_Sales  NA_GlobalShare
0     580.0     373.0     108.0        1203.0            48.0